<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module
	PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
	"http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<!-- Contains all CheckStyle 5 checks that can not be handled directly by Eclipse -->

<module name="Checker">
	<property name="charset" value="UTF-8" />
	<property name="localeCountry" value="EN" />
	<property name="localeLanguage" value="en" />

	<module name="TreeWalker">
		<property name="tabWidth" value="4" />
		<property name="cacheFile" value="bin/checkstyle.cache" />
		<module name="FileContentsHolder" />

		<!-- Annotations -->

		<!-- Block Checks -->
		<module name="AvoidNestedBlocks" />

		<!-- Class Design -->
		<module name="VisibilityModifier" />
		<module name="FinalClass" />
		<module name="InterfaceIsType" />
		<module name="HideUtilityClassConstructor" />
		<module name="DesignForExtension" />
		<!-- <module name="MutableException">
			<property name="format" value="^.*$" />
		</module> -->
		<module name="ThrowsCount">
			<property name="max" value="3" />
		</module>

		<!-- Coding -->
		<module name="CovariantEquals" />
		<module name="EqualsAvoidNull" />
		<module name="EqualsHashCode" />
		<module name="FinalLocalVariable" />
		<!-- <module name="InnerAssignment" /> -->
		<!-- <module name="MagicNumber" /> -->
		<module name="ModifiedControlVariable" />
		<module name="RedundantThrows" />
		<module name="SimplifyBooleanExpression" />
		<module name="SimplifyBooleanReturn" />
		<module name="StringLiteralEquality" />
		<module name="NestedIfDepth">
			<property name="max" value="3" />
		</module>
		<module name="NestedTryDepth">
			<property name="max" value="3" />
		</module>
		<module name="NoClone" />
		<module name="NoFinalizer" />
		<module name="SuperClone" />
		<module name="SuperFinalize" />
		<module name="IllegalCatch" />
		<module name="IllegalThrows" />
		<module name="PackageDeclaration" />
		<module name="JUnitTestCase" />
		<!-- <module name="ReturnCount" /> -->
		<module name="IllegalType">
			<property name="ignoredMethodNames" value="" />
		</module>
		<module name="DeclarationOrder" />
		<module name="ParameterAssignment" />
		<module name="ExplicitInitialization" />
		<module name="DefaultComesLast" />
		<!-- <module name="MissingCtor" /> -->
		<!-- <module name="MultipleStringLiterals" /> -->
		<!-- <module name="MultipleVariableDeclarations" />  -->
		<module name="UnnecessaryParentheses" />
		<!--- ....... -->

		<!-- Imports -->
		<module name="AvoidStarImport" />
		<module name="IllegalImport" />
		<module name="RedundantImport" />

		<!-- Javadoc Comments -->

		<!-- Metrics -->
		<module name="BooleanExpressionComplexity">
			<property name="max" value="4" />
		</module>
		<!-- <module name="ClassDataAbstractionCoupling" /> -->
		<module name="ClassFanOutComplexity">
			<property name="max" value="30" />
		</module>
		<!-- <module name="CyclomaticComplexity" /> -->
		<module name="NPathComplexity">
			<property name="max" value="256" />
		</module>
		<!-- <module name="JavaNCSS" /> -->

		<!-- Miscellaneous -->
		<!-- <module name="UncommentedMain" /> -->
		<module name="UpperEll" />
		<module name="ArrayTypeStyle" />
		<module name="FinalParameters" />
		<module name="Regexp">
			<property name="id" value="SystemPrintCheck" />
			<property name="format" value="\WSystem\.(in|out|err)\W" />
			<property name="illegalPattern" value="true" />
		</module>
		<module name="Regexp">
			<property name="format" value="printStackTrace" />
			<property name="illegalPattern" value="true" />
		</module>
		<module name="Regexp">
			<property name="id" value="NoLowerCaseHex" />
			<property name="format" value="%[0-9]*x" />
			<property name="illegalPattern" value="true" />
		</module>
		<module name="Regexp">
			<property name="format" value="Log.*String\.format" />
			<property name="illegalPattern" value="true" />
		</module>
		<module name="Regexp">
			<!-- Matches all "%s" which is not "'%s'" or ": %s" -->
			<property name="format"
			          value="(Log|\+).*([^ ']%s[^']|[^:][^ ']%s|[^:] %s)" />
			<property name="illegalPattern" value="true" />
		</module>
		<!--
		<module name="Regexp">
			<property name="format" value="Exception.*String\.format" />
			<property name="illegalPattern" value="true" />
		</module>
		-->
		<!--
		<module name="DescendantToken">
			<property name="tokens" value="PLUS" />
			<property name="limitedTokens" value="STRING_LITERAL, IDENT" />
			<property name="maximumNumber" value="0" />
			<property name="maximumDepth" value="1" />
			<property name="maximumMessage"
			          value="Building strings without String.format?" />
		</module> -->
		<!--
		<module name="DescendantToken">
			<property name="tokens" value="EXPR" />
			<property name="limitedTokens" value="TYPECAST" />
			<property name="maximumNumber" value="0" />
			<property name="maximumMessage" 
			          value="Info: Typecast" />
		</module> 
		-->

		<!-- Modifiers -->
		<module name="ModifierOrder" />
		<module name="RedundantModifier" />

		<!-- Naming Conventions -->
		<!-- <module name="AbstractClassName" /> -->
		<module name="ClassTypeParameterName" />
		<module name="ConstantName" />
		<module name="LocalFinalVariableName" />
		<module name="LocalVariableName" />
		<module name="MemberName" />
		<module name="MethodName" />
		<module name="MethodTypeParameterName" />
		<module name="PackageName" />
		<module name="ParameterName" />
		<module name="StaticVariableName" />
		<module name="TypeName" />

		<!-- Regexp -->

		<!-- Size Violations -->
		<module name="ExecutableStatementCount">
			<property name="max" value="30" />
		</module>
		<!-- <module name="MethodLength" /> -->
		<module name="AnonInnerLength" >
			<property name="max" value="25" />
		</module>
		<module name="ParameterNumber" />
		<module name="OuterTypeNumber" />

		<!-- Whitespace -->

	</module>

	<!-- Duplicate Code -->
	<!-- <module name="StrictDuplicateCode" /> -->

	<!-- Header -->

	<!-- Miscellaneous -->
	<module name="NewlineAtEndOfFile" />

	<!-- Size Violations -->
	<module name="FileLength" />

	<!-- Filter -->
	<module name="SuppressionFilter">
		<property name="file" value="suppressions.xml" />
	</module>
	<module name="SuppressionCommentFilter">
		<property name="offCommentFormat" value="CS_IGNORE_BEGIN" />
		<property name="onCommentFormat" value="CS_IGNORE_END" />
	</module>
	<module name="SuppressWithNearbyCommentFilter">
		<property name="commentFormat" value="CS_IGNORE" />
		<property name="checkFormat" value=".*" />
	</module>
	<module name="SuppressWithNearbyCommentFilter">
		<property name="commentFormat" value="CS_IGNORE_PREV" />
		<property name="checkFormat" value=".*" />
		<property name="influenceFormat" value="-1" />
	</module>
	<module name="SuppressWithNearbyCommentFilter">
		<property name="commentFormat" value="CS_IGNORE_NEXT" />
		<property name="checkFormat" value=".*" />
		<property name="influenceFormat" value="1" />
	</module>

</module>
